/* pages/play-list/detail.wxss */
@import '../../style/theme.scss';
  .header {
    margin-top: 250rpx;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 32rpx;
    y-button {
      margin-right: 20rpx;
    }
  }
  .music-list {
    margin-top: 60rpx;
  }