/* pages/play-list/detail.wxss */
@import '../../style/theme.scss';

  .header-background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 750rpx;
    height: 470rpx;
    z-index: -1;
  }
  .header {
    margin-top: 250rpx;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 32rpx;
    y-button {
      margin-right: 20rpx;
    }
  }
  .music-list {
    margin-top: 60rpx;
  }